<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.RPinpaiMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.RPinpai">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="xiaoshoue" jdbcType="INTEGER" property="xiaoshoue" />
    <result column="xiaoliang" jdbcType="INTEGER" property="xiaoliang" />
    <result column="activeshop" jdbcType="INTEGER" property="activeshop" />
    <result column="saledproducts" jdbcType="INTEGER" property="saledproducts" />
    <result column="avglistprice" jdbcType="INTEGER" property="avglistprice" />
    <result column="avgprice" jdbcType="INTEGER" property="avgprice" />
    <result column="discount" jdbcType="DOUBLE" property="discount" />
    <result column="comentcount" jdbcType="INTEGER" property="comentcount" />
    <result column="brand" jdbcType="LONGVARCHAR" property="brand" />
    <result column="month" jdbcType="LONGVARCHAR" property="month" />
    <result column="categoryid" jdbcType="LONGVARCHAR" property="categoryid" />
  </resultMap>
</mapper>